/* navbar */

.navbar .navbar-brand {
    font-family: 'Segoe UI';
    color: #EE4E2E;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #FE6D04;
    color: white;
    font-style: italic;
    font-weight: bold;
    border: 2px solid #EE4E2E;
}

.navbar-nav .nav-link {
    color: #EE4E2E;
    font-style: italic;
    font-weight: bold;
}

.nav-link:hover {
    color: black !important;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 20px;
    color: #EE4E2E !important;
}

/* jumbotron */

.jumbotron {
    background-color: #FFB301;
}

/* tempat */
.tempat {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: -60px;
    background-color: white;
}

.tempat p {
    margin-top: 13px;
    font-size: 18px;
    color: #5D5C56;
}

.tempat span {
    color: #EE4E2E;
}

/* form */
.lok p {
    color: #6E6E6E;
}

.tomboldua {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #FE6D04;
    color: white;
    margin-top: 40px;
    border: 2px solid #EE4E2E;
}

/* main */
.gambar-kecil img {
    margin-right: 5px;
}

.tipe-foto .btn {
    border: 2px solid #DEDEDE;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 15px;
    height: 40px;
}

.tittle h4 {
    font-size: 20px;
    color: #5D5C56;
}

.rating .btn {
    background-color: #FFB301;
    color: #FFFFFF;
    height: 40px;
}

.rating ul li {
    display: inline-block;
    margin-right: 10px;
}

.rating ul li p {
    color: #B7B4B4;
    font-size: 12px;
}

.rating ul li a {
    color: #807E7E;
    font-size: 12px;
}

.rating ul li .bintang {
    color: #807E7E;
}

.rating .fa-star {
    color: #FFB301;
}

.desk h5 {
    font-size: 14px;
    font-weight: bold;
    color: #EE4E2E;
    border-bottom: 2px solid #EE4E2E;
}

.desk p {
    font-size: 14px;
    color: #807E7E;
}

.pemilik .fa-user-edit {
    font-size: 50px;
    color: black;
}

.pemilik {
    border: 1px solid #DEDEDE;
    padding: 10px;
    box-sizing: border-box;
    height: 80px;
}

.pemilik ul li {
    display: block;
}

.pemilik ul li .jam {
    margin-top: -15px;
    color: #B7B4B4;
}

.pemilik ul li .jam span {
    color: #807E7E;
}

.pemilik p {
    color: #807E7E;
}

.pemilik span {
    color: #EE4E2E;
    font-size: 14px;
    font-weight: bold;
}

.ulasan h4 {
    font-size: 20px;
    font-weight: bold;
    color: #5D5C56;
}

.ulasan p {
    font-size: 14px;
    color: #807E7E;
}

.bintang h4 {
    font-size: 50px;
    color: #5D5C56;
}

.bintang p {
    margin-right: 10px;
    color: #FFB301;
}

.pencari .fa-user-edit {
    font-size: 50px;
    color: black;
}

.pencari ul li {
    display: block;
}

.pencari ul li .nama {
    color: #807E7E;
    font-size: 14px;
    font-weight: bold;
}

.pencari ul li .penilaian {
    margin-top: -15px;
    color: #807E7E;
}

.pencari .fa-star {
    color: #FFB301;
    margin-right: 5px;
}

.pencari p {
    color: #807E7E;
    font-size: 14px;
}

.pencari a span {
    color: #EE4E2E;
    font-size: 14px;
    font-weight: bold;
}

.balasan {
    background-color: #F6F6F6;
    margin-left: 60px;
}

.balasan .fa-user-edit {
    font-size: 50px;
    color: black;
}

.balasan ul li {
    display: block;
}

.balasan ul li .nama {
    color: #807E7E;
    font-size: 14px;
    font-weight: bold;
}

.balasan ul li .aktif {
    font-size: 14px;
    margin-top: -15px;
    color: #807E7E;
}

.balasan p {
    color: #807E7E;
    font-size: 14px;
}

/* pagination ulasan */
.page-item .page-link {
    color: #807E7E;
}

.page-item .beku {
    background-color: #FE6D04 !important;
}

/* diskusi */
.diskusi h4 {
    font-size: 20px;
    font-weight: bold;
    color: #5D5C56;
}

.diskusi-pencari .fa-user-edit {
    font-size: 50px;
    color: black;
}

.diskusi-pencari ul li {
    display: block;
}

.diskusi-pencari ul li .nama {
    color: #807E7E;
    font-size: 14px;
    font-weight: bold;
}

.diskusi-pencari ul li .aktif {
    font-size: 14px;
    margin-top: -15px;
    color: #807E7E;
}

.diskusi-pencari p {
    color: #807E7E;
    font-size: 14px;
}

.diskusi-pemilik {
    background-color: #F6F6F6;
}

.diskusi-pemilik .fa-user-edit {
    font-size: 50px;
    color: black;
}

.diskusi-pemilik ul li {
    display: block;
}

.diskusi-pemilik ul li .nama {
    color: #807E7E;
    font-size: 14px;
    font-weight: bold;
}

.diskusi-pemilik ul li .aktif {
    font-size: 14px;
    margin-top: -15px;
    color: #807E7E;
}

.diskusi-pemilik p {
    color: #807E7E;
    font-size: 14px;
}

.tomboltiga {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #FE6D04;
    color: white;
    border: 2px solid #EE4E2E;
}

.pagi-diskusi .pagination .page-item span {
    color: #EE4E2E;
}

.tambah-diskusi {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.tambah-diskusi h4 {
    color: #807E7E;
    font-size: 16px;
    font-weight: bold;
}

.hub-pemilik {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.hub-pemilik p {
    color: #807E7E;
    font-size: 16px;
    margin-left: 5px;
}

.hub-pemilik a {
    color: #EE4E2E;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}

/* Proses Penyewaan */

.proses-penyewaan {
    border: 1px solid #DEDEDE;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.proses-penyewaan .judul {
    font-size: 20px;
    font-weight: bold;
    color: #5D5C56;
}

.proses-penyewaan p {
    font-size: 14px;
    color: #5D5C56;
}

.proses-penyewaan .harga {
    font-size: 16px;
    font-weight: bold;
    color: #5D5C56;
}

.proses-penyewaan .btn {
    background-color: #FE6D04;
    border: 1px solid #EE4E2E;
    width: 80%;
    margin: auto;
}

.proses-penyewaan .har-kosan {
    font-size: 25px;
    font-weight: bold;
    color: #5D5C56;
}

/* footer */
.containerenam {
    background-color: #FFF7E0;
}

.text-footer {
    color: #EE4E2E;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.containerenam h5 {
    font-size: 16px;
    font-weight: bold;
    color: #EE4E2E;
}

.containerenam p {
    font-size: 14px;
    color: #EE4E2E;
}

.sosmed p a {
    font-size: 40px;
    color: #FC7404;
    margin-right: 20px;
}

.containerenam .text-pt {
    width: 300px;
    margin: auto;
    text-align: center;
}

.containerenam .text-pt p {
    font-size: 16px;
    color: #5D5C56;
}

.containerenam .text-ptdua {
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: -20px;
}

.containerenam .text-ptdua p {
    font-size: 16px;
    color: #5D5C56;
}