.nav {
    font-family: 'Segoe UI';
    color: #EE4E2E;
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
    margin-top: 10px;
}

.container {
    border: 2px solid #DEDEDE;
    margin-top: 25px;
    border-radius: 15px;
}

.form-row p {
    font-size: 14px;
    color: #807E7E;
}

.header h5 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #5D5C56;
}

.content label {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #807E7E;
}

.btn {
    background-color: #FC7404;
    border: 2px solid #EE4E2E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    width: 317px;
    margin-top: 10px;
}

.submit p {
    font-size: 14px;
    color: #807E7E;
    text-align: center;
}

.submit span {
    color: #FE6D04;
}